{
  "presets": [
    [
      "@babel/preset-env", {
        "targets": { "safari": 10 },
        "debug": true
      }
    ],
    "@babel/react"
  ],
  "plugins": ["@babel/plugin-syntax-dynamic-import"]
}
